# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js build output
.next
out

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Version control
.git
.github
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# IDE
.vscode
.idea

# OS specific
.DS_Store
Thumbs.db

# Documentation and other files not needed in the image
README.md
LICENSE
*.md

# Temporary files
*.swp
*.swo

# Build files
build
dist

# Log files
*.log
logs

# Uploaded files
public/uploads/*
!public/uploads/.gitkeep

# Tests
__tests__
coverage
